table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 900px !important;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.formtable{
    display: flex;
    justify-content: space-around;
}